{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% if not current_user.is_authenticated %}
<div class="jumbotron">
  <h1 class="display-4">Study Plan</h1>
  <p class="lead">Study Plan は オンライン授業時代のタスク管理を容易にします</p>
  <hr class="my-4">
  <p>登録すれば今すぐに使えます</p>
  <a class="btn btn-primary btn-lg" href="{{ url_for('auth.signup') }}" role="button">今すぐ始める</a>
</div>
{% endif %}

{% endblock %}

